body {
    background-image: url("../imgs/login.jpg") !important;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}

.login-box {
    margin-top: -50px !important;
    border: solid 3px #007dcc;
    height: auto;
    /* box-shadow: -3px 3px 20px 3px #007dcc;    */

    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.card {
    margin-bottom: 0px;
}

.login-card-body {
    color: white;
    background: #007dcc !important;
}

.input-group-text {
    color: white !important;
}

.login-logo {
    margin-bottom: 0px;
    background: #007dcc !important;
}

.login-logo a {
    color: white;
}

.login-logo img {
    height: 150px;
    width: 90%;
    max-width: 100%;
}
