#malla_curricular {
    width: 100%;
}

#malla_curricular>.header {
    display: flex;
}

#malla_curricular>.body {
    display: flex;
}

#malla_curricular>.header>.campo {
    min-height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 200PX;
    width: 200PX;
    border-left: solid 1px black;
    border-top: solid 1px black;
    font-weight: bold;
    color: black;
    text-align: center;
    font-size: 10pt;
}

#malla_curricular>.header>.area {
    min-height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 200px;
    width: 200px;
    border-left: solid 1px black;
    border-top: solid 1px black;
    border-bottom: solid 1px black;
    font-weight: bold;
    color: black;
    font-size: 10pt;
}

#malla_curricular>.header>.valoracion {
    min-height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 150px;
    width: 150px;
    border-left: solid 1px black;
    border-top: solid 1px black;
    border-bottom: solid 1px black;
    border-right: solid 1px black;
    font-weight: bold;
    color: black;
    text-align: center;
    font-size: 10pt;
}

#malla_curricular>.header>.valoracion_cualitativa {
    min-height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 150px;
    width: 150px;
    border-right: solid 1px black;
    border-top: solid 1px black;
    border-bottom: solid 1px black;
    font-weight: bold;
    color: black;
    text-align: center;
    font-size: 10pt;
}

#malla_curricular>.body>.contenedor_campos>.campo {
    display: flex;
}

#malla_curricular>.body>.contenedor_campos>.campo>.titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    border-left: solid 1px black;
    border-bottom: solid 1px black;
    font-weight: bold;
    text-align: center;
    min-height: 70px;
    font-size: 10pt;
}

#malla_curricular>.body>.contenedor_campos>.campo:first-child>.titulo {
    border-top: solid 1px black;
}

#malla_curricular>.body>.contenedor_campos>.campo>.contenedor_areas {
    display: flex;
    flex-direction: column;
}

#malla_curricular>.body>.contenedor_campos>.campo>.contenedor_areas>.area {
    display: flex;
}

#malla_curricular>.body>.contenedor_campos>.campo>.contenedor_areas .area>.titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    border-left: solid 1px black;
    border-right: solid 1px black;
    border-bottom: solid 1px black;
    text-align: center;
    font-size: 10pt;
    font-weight: normal;
}


.contenedor_notas {
    display: flex;
    min-width: 150px;
    width: 150px;
    border-right: solid 1px;
    border-bottom: solid 1px;
}

.contenedor_notas .nota{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
